.list--locations--container {
  overflow-y: scroll;
  /* background-color: rgb(150, 150, 150); */
}

.list--locations--container::-webkit-scrollbar {
  width: 10px;
}

.list--locations--container::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: gainsboro;
}
.list--locations--container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darkgray;
}
