:root {
  --border-color: var(--calcite-color-text-3);
  --item-padding: 3px;
}

.location--card {
  width: calc(100%);
  margin: 0 auto;
  padding: 5px;
  --calcite-card-corner-radius: 3px;
}

.card--title {
  width: 100%;
  font-size: 1.1rem;
  font-weight: normal;
}

.location--card--results {
  display: grid;
  padding-bottom: 15px;
  grid-template-columns: 2fr 1fr;
}

.location--card--result--label {
  margin-left: 5px;
  align-content: center;
  padding: var(--item-padding);
  /* padding: 3px 0px 3px 3px; */
  border-bottom: 1px solid var(--border-color);
}

.location--card--result--value {
  align-content: center;
  padding: var(--item-padding);
  border-bottom: 1px solid var(--border-color);
}

.location--results--layer--name {
  width: 100%;
  height: 1.2rem;
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}
