/* CSS url as a string */
@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";
html,
body,
.arcgis--map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#panel--left {
  width: 500px;
}

#grid--container {
  margin: 1rem;
  height: 100%;
  max-height: calc(100% - 2rem);
  display: grid;
  grid-template-columns: minmax(18rem, 0.5fr) 2fr;
  gap: 1.5rem 1.5rem;
  grid-template-areas: "panel--locationinfos panel--results";
}

#grid--container calcite-panel {
  box-shadow: var(--calcite-shadow-sm);
}

#panel--results {
  grid-area: panel--results;
}

#panel--locationinfos {
  grid-area: panel--locationinfos;
}
#panel--layerinfos {
  grid-area: panel--layerinfos;
}
